.comment {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.6;
  gap: 1rem;
}
.comment section {
  width: 100%;
}

.comment .commentContent {
  padding: 1rem;
  border-radius: 9px;
  background: var(--gray-700);
}

.commentContent header {
  display: flex;
  justify-content: space-between;
}

.commentContent header p {
  font-size: 0.75rem;
  color: var(--gray-400);
}

.commentContent > div {
  margin-top: 1rem;
}

.comment .likes {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
