.profile {
  width: 16rem; /* 259px */
  height: fit-content;
  background: var(--gray-800) url(../assets/cover-pic.png) no-repeat top center/
    256px 72px;
  border-radius: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;

  padding: 20px;
  margin-top: 25px;
  border-bottom: 1px solid var(--gray-600);
}

.job_title {
  font-size: 14px;
  line-height: 30px;
}

.edit_profile {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 30px 0;
}

.edit_button {
  text-decoration: none;
  color: var(--green-500);
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: fit-content;
  padding: 16px 24px 14px 24px;
  border: 1px solid var(--green-500);
  border-radius: 8px;
}

.edit_button:hover {
  background: var(--green-500);
  color: var(--white);
}

.edit_icon {
  font-size: 20px;
}
