:root {
    --white: #FFFFFF;

    --gray-100:#e1e1e6;         /* text-titles  */
    --gray-300: #c4c4cc;       /* text         */
    --gray-400: #8d8d99;      /* text-support */
    --gray-500: #7c7c8a;     /* placeholder  */
    --gray-600: #323238;    /* divider      */
    --gray-700: #29292e;   /* cards        */
    --gray-800: #202024;  /* header       */
    --gray-900: #121214; /* bachground   */

    --green-300: #00b37e;
    --green-500: #00875f;

    -red-danger: #f75a68;

}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--gray-900);
    color: var(--gray-300);

    /* Focus on font */
    -webkit-font-smoothing: antialiased; 
}

body, input, textarea, button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
